.App{
    margin:10;
    padding:0;
    clear:both;
    overflow:auto;
    text-align:center;
}

.Content {
    width:90%;
    margin-top:20px;
    margin-bottom:10px;
    margin-left:7.5%;
}

.Footer {
    text-align:center;
    float: center;
    padding-top:90px;
    left:0;
    right:0;
}

button[type="submit"]{
    margin-left: 30%;
    margin-bottom: 50%;
}

.panel {
    width: 40%;
    margin: 1%;
    margin-top: 1%;
    float:center;
}

div[id="background"] {
    width: 95%;
}

.panel[id="interactable"] {
    float:right;
}

.panel[id="list"] {
    width: auto;
}

.panel[id="buttons"] {
    float: left;
}

div[id='searchbar'] {
    float: left;
}

select[id='searchbar'] {
    width:20%;
    float:left;
}
input[id='searchbar'] {
    width:40%;
    float:left;
}

div[id='searchpanel'] {
    width:70%;
    float: center;
}

button[id='refresh'] {
    margin: 1%;
}

.panel-title{
    text-align: center;
}

.form-control{
    margin-right: 1%;
}

div[id='tablepage']{
    text-align: center;
    width: %;
}

button[id='tablepageleft']{
    float:left;
}
button[id='tablepageright']{
    float:right;
}

.panel-group[id='productform']{
    width: 45%;
    float: left;
}

.panel-group[id='productoverview']{
    width: 43%;
    float: right;
}
a[id='mainproductimage']{
    float: left;
    width: 25%;
}
div[id='productformfield']{
    width: 70%;
    float: right;
}
.table{
    display:table;
}
.tr{
    display:table-row;
}
.th{
    display:table-row;
}
.td{
    display:table-cell;
    text-align: center;
}
.tr:hover{
    background-color:#4d606f44;
}
.a{
    color: hotpink;
}
